/* Estilo botón scroll automático */

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transform: translateY(20px);
    transition: opacity 0.6s, transform 0.6s, visibility 0.6s;
    background-color: #3B82F6;
    border: none;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#scrollToTop i {
    color: #fff;
    font-size: 20px;
}

#scrollToTop:hover {
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.2s, background-color 0.3s, color 0.3s;
}

#scrollToTop:hover i {
    color: #3B82F6;
}

#scrollToTop.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

#scrollToTop.hide {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
}

/* Overlay Fondos */

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.overlay2 {
    background-color: rgba(0, 0, 0, 0.9);
}

.font {
    font-family: 'Poppins', sans-serif;
}