.title {
    font-family: 'Lucida Bright', serif;
    font-weight: bold;
}

.slide-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.swiper-slide-active .slide-text {
    opacity: 1;
    transform: translateY(0);
}

.app-recommendations {
    transition: all 0.3s ease-in-out;
}

#app-recommendations-button {
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-recommendations-button:hover {
    transform: scale(1.1);
}

.swiper-container {
    overflow: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media (max-width: 767px) {
    .swiper-slide[data-swiper-slide-index="0"] {
        background-position: 15% center;
    }
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.swiper-button-prev,
.swiper-button-next {
    width: 50px;
    height: 100%;
    top: 0;
    margin-top: 0;
    transition: opacity 0.3s, background-color 0.3s;
    opacity: 0;
    color: white !important;
}

.swiper-button-prev {
    left: 0;
}
.swiper-button-next {
    right: 0;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
    opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 30px;
}

