.hidden {
    display: none;
}

#popup-ad {
    position: fixed;
    z-index: 50;
    max-width: 90%;
    width: 360px;
    max-height: 90vh;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ad-content {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

#ad-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ad-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 12px;
}

#ad-title {
    font-size: 16px;
    margin-bottom: 6px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

#ad-content {
    font-size: 12px;
    line-height: 1.3;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#close-ad {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s;
}

#close-ad:hover {
    color: #ff0000;
}

#close-ad svg {
    width: 16px;
    height: 16px;
}

.advent-candles {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 30px;
}

.candle {
    width: 8px;
    height: 20px;
    margin: 0 4px;
    background-color: #8B4513;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.candle::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 4px;
    background-color: #000;
    border-radius: 50% 50% 0 0;
}

.candle.lit::before {
    background-color: #FFA500;
    box-shadow: 0 0 5px #FFA500, 0 0 10px #FFA500;
    animation: flicker 0.5s ease-in-out infinite alternate;
}

.candle.pink {
    background-color: #fa56bb;
}

.candle.purple {
    background-color: #880bcc;
}

@keyframes flicker {
    0% { opacity: 0.8; }
    100% { opacity: 1; }
}

@media (min-width: 480px) {
    #popup-ad {
        width: 420px;
    }

    #ad-title {
        font-size: 18px;
    }

    #ad-content {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    #popup-ad {
        width: 480px;
    }

    #ad-title {
        font-size: 20px;
    }

    #ad-content {
        font-size: 16px;
    }
}