    body {
        background-color: #f8f9fa;
        color: #495057;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    .custom-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin: 80px;
    }

    @media screen and (max-width: 999px) {
        .custom-container {
            margin-right: 20px;
            margin-left: 20px;
        }

    }

    h1, h3 {
        color: #007bff;
    }

    .flexCenter {
        display: flex;
        align-items: center;
    }

    .carousel-item img {
        border-radius: 10px;
        object-fit: cover;
        height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
        display:flex;
        align-items: center;
    }

    hr {
        border-color: #007bff;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .map-container {
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 15px;
        position: relative;
    }

    .info-section {
        margin-top: 20px;
    }

    .map-icon {
        color: #007bff;
        font-size: 24px;
        margin-right: 5px;
    }

    .card {
        border: none;
        margin-bottom: 20px;
    }

    .divider {
        border-top: 2px solid #007bff;
        margin: 20px 0;
    }

    .modal-body ul {
        text-align: left;
    }

    .extra-margin {
        margin-top: 20px;
        text-align: justify;
    }

    #button1, #button2, #button3, #button4, #button5, #button6, #button7 {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
    }


